@{
    <div class="dx-viewreport">
        <div class="demo-container">
            <div id="divGrid"></div>
        </div>
    </div>

    <script>
        $(() => {
            var teams = @Html.Raw(Json.Serialize(ViewBag.Teams));
            User = 
            $('#divGrid').dxDataGrid({
                dataSource: teams,
                columns: [
                    { dataField: "teamId", caption: "Team ID", visible: false },
                    { dataField: "teamName", caption: "Team Name" },
                    { dataField: "teamBio", caption: "Team Bio" },
                    { dataField: "teamLeadName", caption: "Team Lead Name" },
                    { dataField: "isActive", caption: "Active" }
                ],
                showBorders: true,
                allowColumnResizing: true,
                allowColumnReordering: true,
                rowAlternationEnabled: true,
                columnAutoWidth: true,
                showBorders: true,
                columnFixing: {
                    enabled: true
                },
                paging: {
                    pageSize: 10
                },
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: "Search..."
                },
                headerFilter: {
                   visible: true
                },
                export: {
                    enabled: false,
                    fileName: "Adhoc",
                    allowExportSelectedData: true
                },
                columnChooser: {
                    enabled: true,
                    mode: "dragAndDrop" // or "select"
                },
            });
        });
    </script>
}
